@import './base.css';
@import './tailwind.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.bg-gradient {
  background: linear-gradient(90deg, #64362D 0%, #82544B 100%);
}
.no-focus:focus-visible {
  outline: none;
  border: none;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
